<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title>Home page Sondaggi</title>
<meta charset="UTF-8">
<meta name="author" content="Christian Luzzetti">
<meta name="description" content="Sito web di test">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- BOOTSTRAP -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- FONTAWESOME -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">
</head>
<body>
<!-- CONTENUTO -->
<h1>Lista Sondaggi</h1>
     
     
     <div th:each="s: ${listaSondaggi}">
	     <p th:text="${s}"></p>
     </div>

     <div>
         <a href="/clienti/new" class="btn btn-primary">Aggiungi Cliente</a>
     </div>
     
<!-- .CONTENUTO -->

<!-- Scripts della pagina -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
	
</body>

</html>